<!doctype html>
<html lang="en">
<head th:replace="~{blocks/base_head :: baseHead(~{::title})}">
    <title>Изменение задачи</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="mt-3" method="post" th:action="@{/tasks/edit}" th:object="${task}">
                    <input name="id" th:value="${task.id}" type="hidden">
                    <div class="mb-3" th:if="${error}">
                        <p class="text-danger" th:text="${error}"></p>
                    </div>
                    <div class="mb-3">
                        <label class="font-weight-bold d-inline-block">Состояние:&nbsp;
                            <select class="form-control custom-select" id="status" name="done">
                                <option th:selected="${task.done}" value="true">Выполнено</option>
                                <option th:selected="${!task.done}" value="false">Не выполнено</option>
                            </select>
                        </label>
                    </div>
                    <div class="mb-3">
                        <div th:inline="text">Создана: [[*{{created}}]]</div>
                    </div>
                    <div class="mb-3">
                        <label for="priority">Приоритет</label>
                        <select class="form-control custom-select" id="priority" name="priority.id">
                            <option th:each="priority : ${priorities}"
                                    th:selected="${priority.name == task.priority.name}"
                                    th:value="${priority.id}"
                                    th:text="${priority.description}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category">Категория</label>
                        <select class="form-control custom-select" data-live-search="true" size="4"
                                id="category"
                                name="categories[]"
                                multiple="multiple"
                        >
                            <option th:each="category : ${categories}"
                                    th:selected="${task.categories.contains(category)}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title">Название</label>
                        <input class="form-control" id="title" name="title" required size="128" th:value="*{title}" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description"><b>Описание задачи:</b></label>
                        <textarea class="form-control" id="description" name="description" placeholder="Сходить за хлебом в соседний магазин..."
                                  required rows="5" th:field="*{description}">
                        </textarea>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-3"><a class="btn btn-danger w-100" th:href="@{/}">Отмена</a></div>
                            <div class="col-3">
                                <button class="btn btn-primary w-100" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>
</body>
</html>