<div th:fragment="footer" class="container col-9 my-3">
    <div class="bg-dark rounded-bottom" style="background-color: #0b2e13">
        <div class="row text-secondary mx-3 flex-row-reverse">
            <div class="my-3">
                <small>
                    ToDo Список задач <a class="text-white-50" href="https://job4j.ru">Job4j</a>,
                    Создал: <a class="text-white-50" href="https://github.com/bannovdaniil">Даниил Баннов</a>
                </small>
            </div>
        </div>
    </div>
</div>